
@model IPCU.Models.FitTestingForm
@{
    var otherLimitation = ViewBag.OtherLimitation as string;
    var isFirstAttempt = ViewBag.IsFirstAttempt as bool? ?? true;
}

<div class="card mt-4">
    <div class="card-header bg-info text-white">
        <h4>Fit Testing Record Preview (Attempt #@Model.SubmissionCount)</h4>
    </div>
    <div class="card-body">
        <h5>Healthcare Worker Information</h5>
        <dl class="row">
            <dt class="col-sm-4">Employee ID</dt>
            <dd class="col-sm-8">@Model.EmployeeId</dd>
            <dt class="col-sm-4">Name of HCW</dt>
            <dd class="col-sm-8">@Model.HCW_Name</dd>
            <dt class="col-sm-4">Dept/Unit/Office</dt>
            <dd class="col-sm-8">@Model.DUO</dd>
            <dt class="col-sm-4">Professional Category</dt>
            <dd class="col-sm-8">@Model.Professional_Category</dd>
            <dt class="col-sm-4">Limitations</dt>
            <dd class="col-sm-8">@(Model.Limitation ?? "None")</dd>
            <dt class="col-sm-4">Name of Fit Tester</dt>
            <dd class="col-sm-8">@Model.Name_of_Fit_Tester</dd>
            <dt class="col-sm-4">Tester Dept/Unit/Office</dt>
            <dd class="col-sm-8">@Model.DUO_Tester</dd>
            <dt class="col-sm-4">Date Submitted</dt>
            <dd class="col-sm-8">@Model.SubmittedAt.ToString("MMMM dd, yyyy")</dd>
        </dl>
        <h5>Fit Test Details</h5>
        <dl class="row">
            <dt class="col-sm-4">Fit Test Solution</dt>
            <dd class="col-sm-8">@(Model.Fit_Test_Solution ?? "Not set")</dd>
            <dt class="col-sm-4">Sensitivity Test</dt>
            <dd class="col-sm-8">@(Model.Sensitivity_Test ?? "Not set")</dd>
            <dt class="col-sm-4">Respirator Type</dt>
            <dd class="col-sm-8">@(Model.Respiratory_Type ?? "Not set")</dd>
            <dt class="col-sm-4">Model</dt>
            <dd class="col-sm-8">@(Model.Model ?? "Not set")</dd>
            <dt class="col-sm-4">Size</dt>
            <dd class="col-sm-8">@(Model.Size ?? "Not set")</dd>
        </dl>
        <h5>Fit Test Checklist</h5>
        <dl class="row">
            <dt class="col-sm-4">Normal Breathing</dt>
            <dd class="col-sm-8">@(Model.Normal_Breathing ? "Pass" : "Fail")</dd>
            <dt class="col-sm-4">Deep Breathing</dt>
            <dd class="col-sm-8">@(Model.Deep_Breathing ? "Pass" : "Fail")</dd>
            <dt class="col-sm-4">Turn Head Side to Side</dt>
            <dd class="col-sm-8">@(Model.Turn_head_side_to_side ? "Pass" : "Fail")</dd>
            <dt class="col-sm-4">Move Head Up and Down</dt>
            <dd class="col-sm-8">@(Model.Move_head_up_and_down ? "Pass" : "Fail")</dd>
            <dt class="col-sm-4">Reading</dt>
            <dd class="col-sm-8">@(Model.Reading ? "Pass" : "Fail")</dd>
            <dt class="col-sm-4">Bending/Jogging</dt>
            <dd class="col-sm-8">@(Model.Bending_Jogging ? "Pass" : "Fail")</dd>
            <dt class="col-sm-4">Normal Breathing (2nd)</dt>
            <dd class="col-sm-8">@(Model.Normal_Breathing_2 ? "Pass" : "Fail")</dd>
            <dt class="col-sm-4">Test Result</dt>
            <dd class="col-sm-8">@Model.Test_Results</dd>
        </dl>
    </div>
</div>